doctype html
html(lang='en')
  head
    title #{ __('Blockchain for Insurance') }#{!title ? '' : ' -' + title }
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    meta(name='og:title' content='IBM Blockchain for Insurance')
    script(src='/js/northstar.js')
    script(src='/js/northstar-forms.js')
    script(src='/js/common.bundle.js')
    script(src='/socket.io/socket.io.js')
    link(rel='alternate', href='?applang=en', hreflang='en-us')
    link(rel='alternate', href='?applang=de', hreflang='de-de')
    include _favicon
    block header_exts
  body#ibm-com.ibm-type
    #ibm-top.ibm-landing-page
      #ibm-masthead(role='banner', aria-label='IBM')
        #ibm-mast-options
          ul(role='toolbar', aria-labelledby='ibm-masthead')
        #ibm-universal-nav
          #ibm-home
            a(href='/') IBM&reg;
          ul#ibm-menu-links(role='toolbar', aria-label='Site map')
    #ibm-content-wrapper
      header
        .ibm-sitenav-menu-container
          .ibm-sitenav-menu-name
            a(href='/') #{__('Blockchain for Insurance')}
          .ibm-sitenav-menu-list
            ul(role='menubar')
              li(role='presentation', class=(homeActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/') #{ __('Home') }
              li.ibm-haschildlist(role='presentation', class=(shopActive ? 'ibm-highlight' : ''))
                span(role='menuitem') #{ __('Shop') }
                ul(role='menu')
                  li(role='presentation', class=(bikesActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/bikes') #{ __('Bikes') }
                  li(role='presentation', class=(smartPhonesActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/smart-phones') #{ __('Smart Phones') }
                  li(role='presentation', class=(skisActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/shop/skis') #{ __('Skis') }
              li(role='presentation', class=(policeActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/police') #{ __('Police') }
              li(role='presentation', class=(repairShopActive ? 'ibm-highlight' : ''))
                a(role='menuitem', href='/repair-shop') #{ __('Repair Service') }
              li.ibm-haschildlist(role='presentation', class=(insuranceActive ? 'ibm-highlight' : ''))
                span(role='menuitem') #{ __('Insurance') }
                ul(role='menu')
                  li(role='presentation', class=(selfServiceActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/self-service') #{ __('Claim Self-Service') }
                  li(role='presentation', class=(claimProcessingActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/claim-processing') #{ __('Claim Processing') }
                  li(role='presentation', class=(contractManagementActive ? 'ibm-highlight' : ''))
                    a(role='menuitem', href='/insurance/contract-management') #{ __('Contract Management') }
      main(role='main', aria-labelledby='ibm-pagetitle-h1')
        #ibm-pcon
          #ibm-content
            #ibm-content-body
              #ibm-content-main
                block content
      footer
        .ibm-columns.ibm-padding-content
          #ibm-footer-locale-selector.ibm-col-4-1.ibm-col-medium-4-2.ibm-fright(style='padding-top: 20px;')
            h3.ibm-bold Select a country/region:
            select#region-selector(style='width: 100%;')
              option(value='', selected) &nbsp;
              option(value='en') English
              option(value='de') Deutsch
        #ibm-footer

    #block-explorer
    script(src='/js/block-explorer.bundle.js')
    // scripts section
    block scripts
