extends _layout

block content
  .ibm-columns
    .ibm-col-6-2
      .ibm-card
        .ibm-card__image
          img(src='/img/icons/bike shop.svg')
        .ibm-card__content
            h3.ibm-h3 #{ __('Bikes') }
            p #{ __('Bikes Description') }
            p.ibm-ind-link
              a.ibm-forward-link(href='/shop/bikes') #{ __('Go To The Bike Shop') }
    .ibm-col-6-2
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/phone shop.svg')
          .ibm-card__content
              h3.ibm-h3 #{ __('Smart Phones') }
              p #{ __('Smart Phones Description') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/shop/smart-phones') #{ __('Go To The Smart Phone Shop') }
    .ibm-col-6-2
      .ibm-card
          .ibm-card__image
            img(src='/img/icons/ski shop.svg')
          .ibm-card__content
              h3.ibm-h3 #{ __('Skis') }
              p #{ __('Skis Description') }
              p.ibm-ind-link
                a.ibm-forward-link(href='/shop/skis') #{ __('Go To The Ski Shop') }
